.part1 {
    background-color:#1f2937 ;
    display: flex;
    flex-direction: column;
    gap: 48px
}
.Left, .Right {
    color: white;
    font-family: Roboto, serif;
}
p {
    font-family: Roboto, serif;

}
.Left {
    font-size: 24px;
    font-weight: 900;
}
.Right {
    display: flex;
    gap: 12px;
}
a {
    color:grey;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}
.awesome {
    display: flex;
    flex-direction: column;
    color: white;
}
.section {
    padding: 32px
}
.main {
    display: flex;
    gap: 32px;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
}
/*the sections will need to use flexbox to seperate equally*/
/*will change all the colors appropriately later, but we keep it this way for simplicity*/
/*section 2*/
.part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    border: 3px solid #3882f6;
    width: 100px;
    border-radius: 25px;
    aspect-ratio: 1/1;

}
.multiple_boxes {
    display: flex;
    gap: 24px;

}
.box_text {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box_text p {
    color: grey;
}
/*section 3*/
.part3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    background-color: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
}
/* section 4*/
#c2a {
    background-color: #3882f6;
    color: white;
    border: white solid 3px;
    border-radius: 5px;
    height:max-content;
    text-align: center;
    padding: 2px 16px;
    align-self: center;
    
}
.text_c2a{
    color: white;
    gap: 4px;
    flex-direction: column;
    display: flex;
    margin: 32px 0;

}
.plate {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 100px
}
.c2a, .signup {
    margin: 0px
}
.c2a {
    font-weight: bold;
}
/*footer section*/
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;

}
.footer_text {
    color: white;
    text-align: center;

}